.nav-wrapper{
    background: #3F51B5;
    
}


.search{
    padding-left: 10%;
}

.mikal{

}
.demo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 10px;
}
.sidenav li{
margin: 40px 5px;
display: flex;
align-items: center;
justify-content: center;
}
.small{
    width: 20px;
}
#open
{
    display: none;
}
.dropdown-content{
    position: relative !important;
    top:-4.4rem;
    left: 5rem;
    right:0rem;
    transition-delay: 0.2s;
}
.profileContainer{
    transition: s ease-in;
}